Initial plan (or, to be buzzword-compliant, design-doc/outline/<most appropriate buzzword here>)

1. Extract weather data for one city from the raw data file
2. Calculate day of year from the year-month-day value
3. Keep hourly data for what is, approximately, not night time
4. For each hour of the day keep only the most commonly occurring weather description; discard other weather description data
5. For each day keep only the most commonly occurring weather description; discard other weather description data
6. Calculate rgb color of sky for each weather description
7. Make bar chart of sky color where each bar represents one day of the year

Note: this project is based on data from an [Open Database on Kaggle](https://www.kaggle.com/selfishgene/historical-hourly-weather-data#weather_description.csv) provided by [David Beniaguev](https://davidbeniaguev.com). Thank you David!

In [1]:
import pandas as pd

### Extract weather data for one city from the raw data file at https://www.kaggle.com/selfishgene/historical-hourly-weather-data#weather_description.csv

In [2]:
# download 'weather_description.csv' from the link above to the same repository as your Jupyter Notebook
dataFile='weather_description.csv'
city='New York'
datetime='datetime'

In [16]:
 pd.read_csv(dataFile)

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,haze,NaN,NaN,NaN
1,2012-10-01 13:00:00,mist,scattered clouds,light rain,sky is clear,mist,sky is clear,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,overcast clouds,sky is clear,sky is clear,sky is clear,haze,sky is clear,sky is clear,sky is clear
2,2012-10-01 14:00:00,broken clouds,scattered clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,sky is clear,sky is clear,broken clouds,overcast clouds,sky is clear,overcast clouds
3,2012-10-01 15:00:00,broken clouds,scattered clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds
4,2012-10-01 16:00:00,broken clouds,scattered clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds
5,2012-10-01 17:00:00,broken clouds,scattered clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds
6,2012-10-01 18:00:00,broken clouds,scattered clouds,sky is clear,few clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds
7,2012-10-01 19:00:00,broken clouds,scattered clouds,sky is clear,few clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds
8,2012-10-01 20:00:00,broken clouds,scattered clouds,sky is clear,few clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds
9,2012-10-01 21:00:00,broken clouds,scattered clouds,sky is clear,few clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds
10,2012-10-01 22:00:00,broken clouds,scattered clouds,sky is clear,few clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds
11,2012-10-01 23:00:00,broken clouds,scattered clouds,sky is clear,scattered clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds
12,2012-10-02 00:00:00,broken clouds,scattered clouds,sky is clear,scattered clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds
13,2012-10-02 01:00:00,broken clouds,scattered clouds,sky is clear,scattered clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds
14,2012-10-02 02:00:00,broken clouds,scattered clouds,sky is clear,scattered clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds
15,2012-10-02 03:00:00,broken clouds,scattered clouds,sky is clear,scattered clouds,sky is clear,few clouds,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds
16,2012-10-02 04:00:00,broken clouds,scattered clouds,sky is clear,scattered clouds,sky is clear,few clouds,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds
17,2012-10-02 05:00:00,broken clouds,scattered clouds,sky is clear,scattered clouds,sky is clear,few clouds,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds
18,2012-10-02 06:00:00,broken clouds,scattered clouds,sky is clear,scattered clouds,sky is clear,few clouds,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds
19,2012-10-02 07:00:00,broken clouds,scattered clouds,sky is clear,scattered clouds,sky is clear,few clouds,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds
20,2012-10-02 08:00:00,broken clouds,scattered clouds,sky is clear,scattered clouds,sky is clear,few clouds,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds
21,2012-10-02 09:00:00,broken clouds,scattered clouds,sky is clear,broken clouds,sky is clear,few clouds,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds
22,2012-10-02 10:00:00,broken clouds,scattered clouds,sky is clear,broken clouds,sky is clear,few clouds,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds
23,2012-10-02 11:00:00,broken clouds,scattered clouds,sky is clear,broken clouds,sky is clear,few clouds,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds
24,2012-10-02 12:00:00,broken clouds,scattered clouds,sky is clear,broken clouds,sky is clear,few clouds,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds
25,2012-10-02 13:00:00,broken clouds,scattered clouds,sky is clear,broken clouds,sky is clear,few clouds,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds
26,2012-10-02 14:00:00,sky is clear,scattered clouds,sky is clear,sky is clear,mist,few clouds,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,sky is clear,overcast clouds,sky is clear,broken clouds,sky is clear,overcast clouds,sky is clear
27,2012-10-02 15:00:00,sky is clear,scattered clouds,sky is clear,sky is clear,fog,haze,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,overcast clouds,sky is clear,sky is clear,sky is clear,haze,sky is clear,sky is clear,sky is clear
28,2012-10-02 16:00:00,sky is clear,sky is clear,haze,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,...,sky is clear,sky is clear,sky is clear,sky is clear,overcast clouds,sky is clear,haze,sky is clear,sky is clear,sky is clear
29,2012-10-02 17:00:00,sky is clear,sky is clear,haze,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,...,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,haze,sky is clear,sky is clear,sky is clear
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45223,2017-11-28 19:00:00,NaN,mist,NaN,mist,sky is clear,broken clouds,sky is clear,few clouds,scattered clouds,...,sky is clear,NaN,broken clouds,sky is clear,NaN,NaN,NaN,NaN,NaN,NaN
45224,2017-11-28 20:00:00,NaN,mist,NaN,mist,sky is clear,broken clouds,sky is clear,sky is clear,few clouds,...,sky is clear,NaN,broken clouds,sky is clear,NaN,NaN,NaN,NaN,NaN,NaN
45225,2017-11-28 21:00:00,NaN,mist,NaN,light intensity drizzle,scattered clouds,broken clouds,sky is clear,broken clouds,few clouds,...,sky is clear,NaN,broken clouds,sky is clear,NaN,NaN,NaN,NaN,NaN,NaN
45226,2017-11-28 22:00:00,NaN,mist,NaN,light intensity drizzle,sky is clear,broken clouds,sky is clear,sky is clear,few clouds,...,sky is clear,NaN,overcast clouds,sky is clear,NaN,NaN,NaN,NaN,NaN,NaN
45227,2017-11-28 23:00:00,NaN,mist,NaN,mist,scattered clouds,scattered clouds,sky is clear,sky is clear,sky is clear,...,sky is clear,NaN,few clouds,sky is clear,NaN,NaN,NaN,NaN,NaN,NaN
45228,2017-11-29 00:00:00,NaN,light rain,NaN,mist,sky is clear,broken clouds,sky is clear,broken clouds,few clouds,...,sky is clear,NaN,broken clouds,broken clouds,NaN,NaN,NaN,NaN,NaN,NaN
45229,2017-11-29 01:00:00,NaN,overcast clouds,NaN,mist,sky is clear,broken clouds,sky is clear,broken clouds,few clouds,...,sky is clear,NaN,broken clouds,broken clouds,NaN,NaN,NaN,NaN,NaN,NaN
45230,2017-11-29 02:00:00,NaN,light rain,NaN,light rain,sky is clear,broken clouds,sky is clear,broken clouds,few clouds,...,sky is clear,NaN,scattered clouds,overcast clouds,NaN,NaN,NaN,NaN,NaN,NaN
45231,2017-11-29 03:00:00,NaN,light rain,NaN,light rain,sky is clear,broken clouds,sky is clear,broken clouds,few clouds,...,sky is clear,NaN,broken clouds,broken clouds,NaN,NaN,NaN,NaN,NaN,NaN
45232,2017-11-29 04:00:00,NaN,light rain,NaN,light rain,sky is clear,broken clouds,sky is clear,broken clouds,scattered clouds,...,sky is clear,NaN,overcast clouds,scattered clouds,NaN,NaN,NaN,NaN,NaN,NaN
45233,2017-11-29 05:00:00,NaN,light rain,NaN,overcast clouds,sky is clear,few clouds,sky is clear,scattered clouds,broken clouds,...,sky is clear,NaN,overcast clouds,sky is clear,NaN,NaN,NaN,NaN,NaN,NaN
45234,2017-11-29 06:00:00,NaN,fog,NaN,overcast clouds,sky is clear,few clouds,sky is clear,overcast clouds,broken clouds,...,sky is clear,NaN,light rain,broken clouds,NaN,NaN,NaN,NaN,NaN,NaN
45235,2017-11-29 07:00:00,NaN,mist,NaN,overcast clouds,sky is clear,sky is clear,sky is clear,overcast clouds,broken clouds,...,sky is clear,NaN,light rain,broken clouds,NaN,NaN,NaN,NaN,NaN,NaN
45236,2017-11-29 08:00:00,NaN,mist,NaN,overcast clouds,sky is clear,overcast clouds,sky is clear,sky is clear,overcast clouds,...,mist,NaN,light rain,sky is clear,NaN,NaN,NaN,NaN,NaN,NaN
45237,2017-11-29 09:00:00,NaN,fog,NaN,light rain,sky is clear,sky is clear,sky is clear,sky is clear,broken clouds,...,mist,NaN,mist,sky is clear,NaN,NaN,NaN,NaN,NaN,NaN
45238,2017-11-29 10:00:00,NaN,mist,NaN,light rain,sky is clear,sky is clear,few clouds,sky is clear,overcast clouds,...,mist,NaN,light rain,sky is clear,NaN,NaN,NaN,NaN,NaN,NaN
45239,2017-11-29 11:00:00,NaN,mist,NaN,overcast clouds,sky is clear,sky is clear,sky is clear,sky is clear,broken clouds,...,fog,NaN,overcast clouds,few clouds,NaN,NaN,NaN,NaN,NaN,NaN
45240,2017-11-29 12:00:00,NaN,mist,NaN,overcast clouds,sky is clear,mist,sky is clear,sky is clear,scattered clouds,...,mist,NaN,few clouds,overcast clouds,NaN,NaN,NaN,NaN,NaN,NaN
45241,2017-11-29 13:00:00,NaN,light rain,NaN,overcast clouds,mist,mist,sky is clear,overcast clouds,few clouds,...,mist,NaN,few clouds,overcast clouds,NaN,NaN,NaN,NaN,NaN,NaN
45242,2017-11-29 14:00:00,NaN,mist,NaN,mist,scattered clouds,mist,sky is clear,overcast clouds,broken clouds,...,few clouds,NaN,fog,broken clouds,NaN,NaN,NaN,NaN,NaN,NaN
45243,2017-11-29 15:00:00,NaN,mist,NaN,mist,scattered clouds,mist,sky is clear,sky is clear,broken clouds,...,scattered clouds,NaN,fog,sky is clear,NaN,NaN,NaN,NaN,NaN,NaN
45244,2017-11-29 16:00:00,NaN,light rain,NaN,mist,broken clouds,mist,sky is clear,sky is clear,broken clouds,...,few clouds,NaN,overcast clouds,few clouds,NaN,NaN,NaN,NaN,NaN,NaN
45245,2017-11-29 17:00:00,NaN,fog,NaN,mist,sky is clear,mist,sky is clear,sky is clear,broken clouds,...,few clouds,NaN,proximity shower rain,scattered clouds,NaN,NaN,NaN,NaN,NaN,NaN
45246,2017-11-29 18:00:00,NaN,mist,NaN,overcast clouds,sky is clear,haze,broken clouds,sky is clear,broken clouds,...,scattered clouds,NaN,overcast clouds,few clouds,NaN,NaN,NaN,NaN,NaN,NaN
45247,2017-11-29 19:00:00,NaN,mist,NaN,light rain,sky is clear,broken clouds,sky is clear,sky is clear,broken clouds,...,scattered clouds,NaN,scattered clouds,few clouds,NaN,NaN,NaN,NaN,NaN,NaN
45248,2017-11-29 20:00:00,NaN,broken clouds,NaN,light rain,sky is clear,broken clouds,sky is clear,sky is clear,broken clouds,...,scattered clouds,NaN,broken clouds,broken clouds,NaN,NaN,NaN,NaN,NaN,NaN
45249,2017-11-29 21:00:00,NaN,broken clouds,NaN,overcast clouds,sky is clear,broken clouds,sky is clear,sky is clear,broken clouds,...,scattered clouds,NaN,scattered clouds,broken clouds,NaN,NaN,NaN,NaN,NaN,NaN
45250,2017-11-29 22:00:00,NaN,broken clouds,NaN,broken clouds,sky is clear,broken clouds,sky is clear,sky is clear,broken clouds,...,scattered clouds,NaN,few clouds,broken clouds,NaN,NaN,NaN,NaN,NaN,NaN
45251,2017-11-29 23:00:00,NaN,broken clouds,NaN,broken clouds,sky is clear,broken clouds,sky is clear,broken clouds,overcast clouds,...,few clouds,NaN,few clouds,few clouds,NaN,NaN,NaN,NaN,NaN,NaN
45252,2017-11-30 00:00:00,NaN,broken clouds,NaN,few clouds,sky is clear,broken clouds,sky is clear,broken clouds,overcast clouds,...,sky is clear,NaN,few clouds,broken clouds,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# import hourly weather descriptions
df_WeatherDescription = pd.read_csv(dataFile, usecols=[datetime, city], parse_dates = True)
df_WeatherDescription.head()

              datetime    New York
0  2012-10-01 12:00:00         NaN
1  2012-10-01 13:00:00  few clouds
2  2012-10-01 14:00:00  few clouds
3  2012-10-01 15:00:00  few clouds
4  2012-10-01 16:00:00  few clouds

In [4]:
df_WeatherDescription.rename(columns={city: 'weather'}, inplace=True)
df_WeatherDescription.dropna(inplace = True)
df_WeatherDescription.head()

              datetime     weather
1  2012-10-01 13:00:00  few clouds
2  2012-10-01 14:00:00  few clouds
3  2012-10-01 15:00:00  few clouds
4  2012-10-01 16:00:00  few clouds
5  2012-10-01 17:00:00  few clouds

### Extract day of year and the hour of the day from the datetime timestamp

In [5]:
# type(df_WeatherDescription.datetime) is pandas.core.series.Series
# convert it to datetime https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html
df_WeatherDescription.datetime = pd.to_datetime(df_WeatherDescription.datetime)

# https://stackoverflow.com/questions/28990256/python-pandas-time-series-year-extraction
df_WeatherDescription["day_number"] = df_WeatherDescription.datetime.dt.dayofyear
df_WeatherDescription["hour_time"] = df_WeatherDescription.datetime.dt.hour
df_WeatherDescription.head()

             datetime     weather  day_number  hour_time
1 2012-10-01 13:00:00  few clouds         275         13
2 2012-10-01 14:00:00  few clouds         275         14
3 2012-10-01 15:00:00  few clouds         275         15
4 2012-10-01 16:00:00  few clouds         275         16
5 2012-10-01 17:00:00  few clouds         275         17

In [6]:
# sanity check
df_WeatherDescription.day_number.nunique()

366

### Calculate rgb color of sky for each weather description

To do this I listed all distinct weather description in the Jupyter Notebook. I then wrote a json file (you can use any text editor, in I used vim) that had key-value pairs of the weather description and rgb color values as follows:

 ```
 {
   "<some weather description>":"rgb(val1,val2,val3)",
   .
   .
   .
 }
 ```
 
 The file needs to saved with the extension `.json`. 
 
 I calculated the rgb values using my mac's Digital Color Meter. I searched on Google Images for each distinct weather description listed below (except for thunderstorms, I repeated the rgb values for those) and then used the Digital Color Meter to record the rgb value of the color of the sky from a relevant image search result. The process was extremely tedious.
 
This method of finding the rgb values is subjective and inefficient, however, it is also perfectly adequate.

In [7]:
df_WeatherDescription.weather.unique()

array(['few clouds', 'sky is clear', 'scattered clouds', 'broken clouds',
       'overcast clouds', 'mist', 'drizzle', 'moderate rain',
       'light intensity drizzle', 'light rain', 'fog', 'haze',
       'heavy snow', 'heavy intensity drizzle', 'heavy intensity rain',
       'light rain and snow', 'snow', 'light snow', 'freezing rain',
       'proximity thunderstorm', 'thunderstorm', 'thunderstorm with rain',
       'smoke', 'very heavy rain', 'thunderstorm with heavy rain',
       'thunderstorm with light rain', 'squalls', 'dust',
       'proximity thunderstorm with rain',
       'thunderstorm with light drizzle', 'sand', 'shower rain',
       'proximity thunderstorm with drizzle',
       'light intensity shower rain', 'sand/dust whirls',
       'heavy thunderstorm'], dtype=object)

### Keep only the most frequently occurring weather data for each day of the year

In [8]:
# datetime timestamp is not needed anymore
df_WeatherDescription.drop(["datetime"], axis=1, inplace=True)

# we don't need to consider the weather description after sunset or before sunrise
df_WeatherDescription = df_WeatherDescription[(df_WeatherDescription["hour_time"] >= 5) & (df_WeatherDescription["hour_time"] <= 21)]

df_WeatherDescription.head()

      weather  day_number  hour_time
1  few clouds         275         13
2  few clouds         275         14
3  few clouds         275         15
4  few clouds         275         16
5  few clouds         275         17

In [9]:
# on any given day for any given hour consider only the most frequently occurring weather description
df_WeatherDescription = df_WeatherDescription.groupby(['day_number', 'hour_time'])['weather'].apply(lambda x: x.mode()[0]).reset_index()
df_WeatherDescription.head()

   day_number  hour_time          weather
0           1          5     sky is clear
1           1          6     sky is clear
2           1          7     sky is clear
3           1          8  overcast clouds
4           1          9  overcast clouds

In [10]:
# on any given day consider only the most frequently occurring weather description
df_WeatherDescription = df_WeatherDescription.groupby(['day_number'])['weather'].apply(lambda x: x.mode()[0]).reset_index()
df_WeatherDescription.set_index('day_number', inplace=True)
df_WeatherDescription.head()

                  weather
day_number
1            sky is clear
2            sky is clear
3           broken clouds
4           broken clouds
5            sky is clear

#### merge df_WeatherDescription and the json file of weatherDescription-rgbColor pairs created earlier such that there's a rgbColor value assocation with each day of the year

In [11]:
# https://stackoverflow.com/questions/38380795/pandas-read-json-if-using-all-scalar-values-you-must-pass-an-index
dfWeatherColor = pd.read_json('weatherColor.json', typ='series').to_frame('color')
dfWeatherColor.head()

                            color
broken clouds  rgb(123, 154, 207)
drizzle        rgb(182, 182, 184)
dust           rgb(167, 154, 140)
few clouds     rgb(106, 179, 247)
fog            rgb(230, 230, 230)

In [12]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html
df_WeatherDescription = df_WeatherDescription.merge(dfWeatherColor,how='left', left_on='weather', right_on='color', right_index=True)
df_WeatherDescription.head()

                  weather               color
day_number
1            sky is clear   rgb(72, 143, 225)
2            sky is clear   rgb(72, 143, 225)
3           broken clouds  rgb(123, 154, 207)
4           broken clouds  rgb(123, 154, 207)
5            sky is clear   rgb(72, 143, 225)

In [13]:
# sanity check to see that all weather descriptions have a corresponding rgb color value
df_WeatherDescription[df_WeatherDescription.isnull().any(axis=1)]

Empty DataFrame
Columns: [weather, color]
Index: []

### Make bar chart of sky color where each bar represents one day of the year

In [14]:
# the first time you use plotly you'll need to sign up for a free api
# uncomment the 2 lines before the first time you use plotly
#import plotly.tools as tools
#tools.set_credentials_file(username='<plotly username here>', api_key='<plotly api key here>')

In [15]:

import plotly.plotly as py
import plotly.graph_objs as go



x = df_WeatherDescription.index
y = len(df_WeatherDescription.index) * [10]

trace1 = go.Bar(
    x=x,
    y=y,
    text = df_WeatherDescription.weather,
    hoverinfo = 'text',
    marker=dict(
        color=df_WeatherDescription['color'],
        ),
    opacity=1
)

# dealing with an edge case here
if city == 'New York':
    city += ' City'

data = [trace1]
layout = go.Layout(
    title='Color of the sky in ' + city + '<br> everyday of the year',
    titlefont=dict(
        size=32,
    ),
    xaxis=dict(
        title='Day of year',
        titlefont=dict(
            family='Open Sans, monospace',
            size=24,
            color='#7f7f7f'
        )
    ),
    yaxis=dict(
        showticklabels=False,
    )
)
fig = go.Figure(data=data, layout=layout)

filename = city + ' sky color'
py.iplot(fig, filename=filename)

You'll find your plotly chart on your plotly profile online